/* Header.module.css */
.header {
	position: sticky;
	top: 0;
	z-index: 999;
	width: 100%;
	background: rgba(255, 255 ,255 , 0.7);
	backdrop-filter: blur(40px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1200px;
	margin: auto;
	padding: 16px;
}

.search {
	display: flex;
	align-items: center;
	gap: 24px;
}

.logo {
	font-family: 'BM', sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #1e64f0;
}

.logo span {
	color: #2ecaf5;
}

.bar {
	margin-left: 10px;
	position: relative;
}

.input {
	width: 200px;
	padding: 12px 35px 12px 15px;
	font-size: 14px;
	border: 2px solid #1e64f0;
	border-radius: 5px;
	outline: none;
}

.input::placeholder {
	color: #999;
}

.icon {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	background: url(/img/button/search.svg) no-repeat center;
}

.links {
	display: flex;
	align-items: center;
	gap: 16px;
}

.links a {
	font-size: 14px;
	text-decoration: none;
	color: #888;
}

.links a:hover {
	color: #2ecaf5;
}

/* 모바일 스타일링 */
@media (max-width: 768px) {
	.bar {
		display: none; /* 모바일에서는 검색창 숨김 */
	}

	.links a {
		display: none; /* 모바일에서는 텍스트 링크 숨김 */
	}

	/* 아이콘만 보이도록 설정 */
	.iconLink {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 36px;
		height: 36px;
		font-size: 20px; /* 아이콘 크기 조정 */
		border: 1px solid #ccc;
		border-radius: 50%;
		background-color: #f9f9f9;
		color: #1e64f0;
	}

	.iconLink:hover {
		color: #2ecaf5; /* 호버 시 색상 변경 */
		border-color: #2ecaf5;
	}

	.links .iconLink {
		display: flex; /* 모바일에서는 아이콘 보이기 */
	}
}

/* 데스크탑에서 아이콘 숨기기 */
@media (min-width: 769px) {
	.iconLink {
		display: none;
	}
}
